@media screen and (max-width: 425px ) {
  .footer{
    height: 3em;
    width: 43.4em;
  }

  .img{
    align-items: center;
    width: 60%;
  }
}

@media screen and (max-width: 375px ) {
  .footer{
    height: 2em;
    width: 43.4em;
  }
}

