.card {
  position: relative;
}

.excluir {
  width: 1.8em;
  position: absolute;
  top: 110px;
  right: 15px;
}


@media screen and (max-width: 762px ) {
  .listarContainer{
    height: 92.1em;
    width: 50.8em;
  }
}

@media screen and (max-width: 425px ) {
  .listarContainer{
    height: 92.1em;
    width: 50.8em;
  }
}

@media screen and (max-width: 376px ) {
  .listarContainer{
    height: 106.8em;
    width: 50.8em;
  }
}


