.card {
  position: relative;
}

.excluir {
  width: 1.6em;
  position: absolute;
  top: 135px;
  right: 20px;
}

.editar {
  width: 1.6em;
  position: absolute;
  top: 135px;
  right: 60px;
}

@media screen and (max-width: 762px) {
  .listarContainer {
    height: 92.1em;
    width: 50.8em;
  }
}

@media screen and (max-width: 425px) {
  .listarContainer {
    height: 92.1em;
    width: 50.8em;
  }
}

@media screen and (max-width: 376px) {
  .listarContainer {
    height: 106.8em;
    width: 50.8em;
  }
}
