<div class="flex items-center justify-center flex-col p-10 bg-blue-200 h-screen listarContainer"
  *ngIf="listaFuncionario.length > 0, else semFuncionario">
  <div *ngFor="let funcionario of listaFuncionario"
    class="card border w-96 m-5 h-48 flex items-center justify-center flex-col bg-blue-600 text-xl text-white rounded-md">
    <p><b>ID: </b>{{funcionario.id}}</p>
    <p><b>Nome: </b>{{funcionario.nome}} {{funcionario.sobrenome}}</p>
    <p><b>Email: </b>{{funcionario.email}}</p>
    <p><b>departamento: </b>{{funcionario.departamento}}</p>
    <p><b>CPF: </b>{{funcionario.cpf}}</p>
    <div>
      <button><img class="excluir" src="../../../../assets/imgs/excluir.png" alt="botão de excluir"
          routerLink="/excluirFuncionario/{{funcionario.id}}"></button>
      <button><img class="editar" src="../../../../assets/imgs/editar.png" alt="botão de editar"
          routerLink="/editarFuncionario/{{funcionario.id}}"></button>
    </div>
  </div>
</div>

<ng-template #semFuncionario>
  <div class="h-screen flex items-center justify-center bg-blue-200 listarContainer">
    <div class="border w-1/8 m-5  flex items-center flex-col text-center bg-blue-600 text-white rounded-md">
      <h2 class="text-2xl p-10">Aparentemente não há funcionarios na base de dados</h2>
      <button
        class="m-10 bg-blue-200 text-3xl text-white m-6 p-2 bg-blue-500 rounded-lg hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
        routerLink="/cadastrarFuncionario">
        Cadastrar
      </button>
    </div>
  </div>
</ng-template>