.header {
  height: 6em;
}

@media screen and (max-width: 425px ) {
  .header{
    height: 7em;
    width: 43.4em;
  }

  .img{
    align-items: center;
    width: 60%;
  }
}

@media screen and (max-width: 375px ) {
  .header{
    height: 7em;
    width: 43.4em;
  }
}
