.header {
  height: 6em;
}

@media screen and (max-width: 762px ) {
  .header{
    height: 6em;
    width: 50.8em;
  }
  /* ul{
    font-size: 1.3rem;
  } */
}

@media screen and (max-width: 425px ) {
  .header{
    height: 7em;
    width: 50.8em;
  }

  .img{
    align-items: center;
    width: 60%;
  }
}

@media screen and (max-width: 375px ) {
  .header{
    height: 7em;
    width: 50.8em;
  }
}
