


@media screen and (max-width: 425px) {
  .mainContainer{
    height: 139vh;
    width: 153vw;
  }

  .img{
    align-items: center;
    width: 60%;
  }
}


@keyframes colorChange {
  0% {
    background-color: #B6FFFA;
  }
  25% {
    background-color: #98E4FF;
  }
  50% {
    background-color: #80B3FF;
  }
  75% {
    background-color: #9EDDFF;
  }
  100% {
    background-color: #BEFFF7;
  }
}

.color-change {
  animation: colorChange 10s infinite;
}
