<main>
  <section class="mainContainer mainContainerImg md:min-h-screen flex items-center justify-center flex-col overflow-hidden">
    <div class="conteudo w-2/4 text-center shadow-2xl"><p class="m-10 font-sans text-3xl text-white">Bem vindo ao projeto empresa! Essa é uma aplicação dedicada ao cadastro de funcionarios, departamento e reuniões! Fique a vontade para fazer seus testes e agradeço qualquer tipo de feedback que puder oferecer <i class="fa-solid fa-city"></i></p></div>
  </section>
</main>
