.mainContainerImg{
  background-image: url(../../../assets/imgs/main_1jpg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.conteudo {
  border-radius: 15px;
  background-color: rgba(41, 51, 190, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(1px);
}

@media screen and (max-width: 762px ) {
  .mainContainer{
    height: 100em;
    width: 50.8em;
  }

  .img{
    align-items: center;
    width: 60%;
  }
}

@media screen and (max-width: 425px ) {
  .mainContainer{
    height: 100em;
    width: 50.8em;
  }

  .img{
    align-items: center;
    width: 60%;
  }
}

@media screen and (max-width: 375px ) {
  .mainContainer{
    height: 100em;
    width: 43.4em;
  }

  .img{
    align-items: center;
    width: 60%;
  }
}

@keyframes colorChange {
  0% {
    background-color: #B6FFFA;
  }
  25% {
    background-color: #98E4FF;
  }
  50% {
    background-color: #80B3FF;
  }
  75% {
    background-color: #9EDDFF;
  }
  100% {
    background-color: #BEFFF7;
  }
}

.color-change {
  animation: colorChange 10s infinite;
}
