.formContainer {
  background-image: url(../../../../assets/imgs/main_1jpg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mensagem_erro{
  margin: 10px;
}

.botao_desabilitado {
  background-color: gray;
}

@media screen and (max-width: 762px ) {
  .formContainer{
    height: 100em;
    width: 50.8em;
  }
}

@media screen and (max-width: 425px ) {
  .formContainer{
    height: 100em;
    width: 50.8em;
  }
}

@media screen and (max-width: 375px ) {
  .formContainer{
    height: 100em;
    width: 50.8em;
    }
  }

