<section class="opcoesContainer min-h-screen bg-blue-600 flex items-center justify-center flex-col">
  <div class="opcoes h-96 w-80 bg-blue-900 flex items-center justify-center flex-col rounded">
    <button
      class="m-10 bg-blue-200 text-3xl text-white m-6 p-2 bg-blue-800 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" routerLink="/cadastrarFuncionario">
      Cadastrar <i class="fa-solid fa-address-card"></i>
    </button>
    <button
      class="m-10 text-3xl text-white m-6 p-2 bg-blue-800 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" routerLink="/listaFuncionarios">
      listar <i class="fa-solid fa-table-list"></i>
    </button>
  </div>
</section>
